@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: 'Yomogi', cursive; }

/* HEADER + NAV */
.nav_list {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  padding: 10px 10px; }
  .nav_list:hover {
    color: #f3c2cb;
    transition: linear 0.3s; }

#activo {
  color: #f3c2cb; }

header {
  display: flex;
  width: 100%;
  padding: 30px 0%; }

/* LOGO */
.header__caro {
  color: black;
  font-size: 28px;
  cursor: pointer;
  font-weight: bold; }

.header__bambino {
  color: #FF0051;
  font-size: 28px;
  cursor: pointer; }

/* TERMINA LOGO */
.navbar {
  width: 100%; }

.nav__links {
  list-style: none; }
  .nav__links li {
    display: inline-block;
    padding: 10px; }
    .nav__links li a {
      transition: all 0.3s linear; }

.nav__links li a:hover {
  background-color: #f3c2cb;
  cursor: pointer;
  color: black; }

/* BODY */
.container__img {
  display: flex;
  justify-content: center; }

.img__principal {
  width: 80%;
  height: auto;
  border: none;
  border-radius: 30px; }

.section__productos {
  margin: auto;
  padding-top: 40px; }

.card-title {
  font-weight: bold; }

.botonCard {
  background-color: #f3c2cb;
  border: none;
  font-weight: bold; }
  .botonCard:hover {
    background-color: #ff006a;
    color: white;
    transition: linear 0.5s; }

.card__productos {
  display: flex;
  justify-content: center;
  padding-bottom: 5px; }

/* BREADCRUMB */
.breadCrumbs {
  justify-content: center;
  text-align: center; }
  .breadCrumbs ol {
    justify-content: center; }
    .breadCrumbs ol li {
      text-align: center;
      padding-top: 40px; }
      .breadCrumbs ol li a {
        text-decoration: none;
        font-weight: bold;
        color: black; }
        .breadCrumbs ol li a:hover {
          color: #f3c2cb;
          transition: linear 0.3s; }

/* FOOTER */
footer {
  display: flex;
  width: 100%;
  background: #0e0d0d;
  justify-content: space-around;
  text-align: center;
  height: 70px;
  margin-top: 40px; }

@media (max-width: 600px) {
  .footerinstagram {
    font-size: 13px; }
    .footerinstagram a img {
      width: 25px;
      height: 25px; }
  .footerfacebook {
    font-size: 13px; }
    .footerfacebook a img {
      width: 25px;
      height: 25px; }
  .footerwhatsapp {
    font-size: 13px; }
    .footerwhatsapp a img {
      width: 25px;
      height: 25px; } }

.footerinstagram {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto; }
  .footerinstagram img {
    width: 30px;
    height: 30px; }
    .footerinstagram img:hover {
      transition: linear 0.2s;
      opacity: 20%; }
  .footerinstagram p {
    color: #f3c2cb; }

.footerfacebook {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto; }
  .footerfacebook img {
    width: 30px;
    height: 30px; }
    .footerfacebook img:hover {
      transition: linear 0.2s;
      opacity: 20%; }
  .footerfacebook p {
    color: #f3c2cb; }

.footerwhatsapp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto; }
  .footerwhatsapp img {
    width: 30px;
    height: 30px; }
    .footerwhatsapp img:hover {
      transition: linear 0.2s;
      opacity: 20%; }
  .footerwhatsapp p {
    color: #f3c2cb; }

/* PRODUCTOS.html */
.productosRopaContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; }

.productosRopaContainerNiños {
  justify-content: center;
  text-align: center;
  border-top: solid;
  border-width: 1px; }
  .productosRopaContainerNiños .cards {
    padding-top: 20px; }

.Ropa-Para-Niños {
  font-size: 1.7rem;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #8a0883;
  text-align: center; }

/* CONTACTO */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #f3c2cb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #e71f4b;
  transition: all 0.5s linear; }

.formContainer {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  padding-top: 30px;
  font-weight: bold; }
  .formContainer h3 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold; }

/* COMO LLEGAR */
/*IFRAME*/
.iframeContainer {
  text-align: center;
  justify-content: center; }
  .iframeContainer h1 {
    padding-bottom: 25px; }

.iframeContainer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

/* MÁS */
.galeria {
  padding-top: 30px;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 200px); }
  .galeria div img {
    width: 100%;
    padding: 10px; }

.breadCrumbs {
  display: inline; }
  .breadCrumbs ul {
    list-style: none; }
    .breadCrumbs ul li a {
      text-decoration: none;
      color: black; }
      .breadCrumbs ul li a:hover {
        color: #f3c2cb;
        transition: linear 0.3s; }
