$colorpink: rgb(243, 194, 203);
$colorblue: aliceblue;
$font: 32px;
$img-width: 85px;

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Yomogi', cursive;
}

/* HEADER + NAV */

    .nav_list {
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: $font/2;
            text-decoration: none;
            border: none;
            border-radius: 30px;
            padding: 10px 10px;
                &:hover {
                    color: $colorpink;
                    transition: linear 0.3s;
                }
        }

    #activo {
        color: $colorpink;
    }

header {
    display: flex;
    width: 100%;
    padding: 30px 0%;
}

/* LOGO */

.header__caro {
    color: black;
    font-size: ($font)-4px;
    cursor: pointer;
}

.header__bambino {
    color: $colorpink;
    font-size: ($font)-4px;
    cursor: pointer;
}

/* TERMINA LOGO */

.navbar {
    width: 100%;
}

.nav__links {
    list-style: none;
        li {
            display: inline-block;
            padding: 10px;
            a {
                transition: all 0.3s linear;
            }
        }
    }

.nav__links li a:hover {
    background-color: $colorpink;
    cursor: pointer;
    color: black;
}

/* BODY */

.container__img {
    display: flex;
    justify-content: center;
}

.img__principal {
    width: 80%;
    height: auto;
    border: none;
    border-radius: 30px;
}

.section__productos {
    margin: auto;
    padding-top: 40px;
}

.card-title {
    font-weight: bold;
}

.botonCard {
    background-color: $colorpink;
    border: none;
    font-weight: bold;
        &:hover {
            background-color: rgb(255, 0, 106);
            color: white;
            transition: linear 0.5s;
        }
}

.card__productos {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

/* BREADCRUMB */

.breadCrumbs {
    justify-content: center;
    text-align: center;
        ol {
            justify-content: center;
            li {
                text-align: center;
                padding-top: 40px;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: rgb(0, 0, 0);
                        &:hover {
                            color: $colorpink;
                            transition: linear 0.3s;
                        }
                }
            }
        }
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    background: rgb(14, 13, 13);
    justify-content: space-around;
    text-align: center;
    height: 70px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    .footerinstagram {
        font-size: 13px;
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
    }

    .footerfacebook {
        font-size: 13px;
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
    }

    .footerwhatsapp {
        font-size: 13px;
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
    }
}

.footerinstagram {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
        img {
            width: 30px;
            height: 30px;
                &:hover {
                    transition: linear 0.2s;
                    opacity: 20%;
                }
        }
        p {
            color: $colorpink;
        }
}

.footerfacebook {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
        img {
            width: 30px;
            height: 30px;
                &:hover {
                transition: linear 0.2s;
                opacity: 20%;
            }
        }
        p {
            color: $colorpink;
        }
}

.footerwhatsapp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
        img {
            width: 30px;
            height: 30px;
                &:hover {
                transition: linear 0.2s;
                opacity: 20%;
            }
        }
        p {
            color: $colorpink;
        }
}

/* PRODUCTOS.html */

.productosRopaContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.productosRopaContainerNiños {
    justify-content: center;
    text-align: center;
    border-top: solid;
    border-width: 1px;
    .cards {
        padding-top: 20px;
    }
}

.Ropa-Para-Niños {
    font-size: 1.7rem;
        padding-top: 25px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: rgb(138, 8, 131);
        text-align: center;
}

/* CONTACTO */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=submit] {
    background-color: $colorpink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #e71f4b;
    transition: all 0.5s linear;
  }
  
.formContainer {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    padding-top: 30px;
    font-weight: bold;
        h3 {
            text-align: center;
            padding-bottom: 30px;
            font-weight: bold;
        }
  }

  /* COMO LLEGAR */



/*IFRAME*/

.iframeContainer {
    text-align: center;
    justify-content: center;
    h1 {
        padding-bottom: 25px;
    }
}

.iframeContainer p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* MÁS */

.galeria {
    padding-top: 30px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(4,200px);
    div {
        img {
            width: 100%;
            padding: 10px;
        }
    }
}

.breadCrumbs {
    display: inline;
        ul {
            list-style: none;
                li {
                    a {
                        text-decoration: none;
                        color: black;
                            &:hover {
                                color: $colorpink;
                                transition: linear 0.3s;
                            }
                    }
                }
        }
}