$colorpink: rgb(243, 194, 203);
$colorblue: aliceblue;
$font: 32px;
$img-width: 85px;

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Yomogi', cursive;
}

/* HEADER + NAV */

    .nav_list {
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: $font/2;
            text-decoration: none;
            border: none;
            border-radius: 30px;
            padding: 10px 10px;
                &:hover {
                    color: $colorpink;
                    transition: linear 0.3s;
                }
        }

    .activo {
        color: $colorpink;
    }

header {
    display: flex;
    width: 100%;
    padding: 30px 0%;
}

/* LOGO */

.header__caro {
    color: black;
    font-size: ($font)-4px;
    cursor: pointer;
    font-weight: bold;
}

.header__bambino {
    color: #FF0051;
    font-size: ($font)-4px;
    cursor: pointer;
}

/* TERMINA LOGO */

.navbar {
    width: 100%;
}

.nav__links {
    list-style: none;
        li {
            display: inline-block;
            padding: 10px;
            a {
                transition: all 0.3s linear;
            }
        }
    }

.nav__links li a:hover {
    background-color: $colorpink;
    cursor: pointer;
    color: black;
}

/* BODY */

.container__img {
    display: flex;
    justify-content: center;
}

.img__principal {
    width: 80%;
    height: auto;
    border: none;
    border-radius: 30px;
}

.section__productos {
    margin: auto;
    padding-top: 40px;
}

.card-title {
    font-weight: bold;
}

.botonCard {
    background-color: $colorpink;
    border: none;
    font-weight: bold;
        &:hover {
            background-color: rgb(255, 0, 106);
            color: white;
            transition: linear 0.5s;
        }
}

.card__productos {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

/* BREADCRUMB */

.breadCrumbs {
    justify-content: center;
    text-align: center;
        ol {
            justify-content: center;
            li {
                text-align: center;
                padding-top: 40px;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: rgb(0, 0, 0);
                        &:hover {
                            color: $colorpink;
                            transition: linear 0.3s;
                        }
                }
            }
        }
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    background: rgb(14, 13, 13);
    justify-content: space-around;
    text-align: center;
    height: 70px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    .footerinstagram {
        font-size: 13px;
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
    }

    .footerfacebook {
        font-size: 13px;
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
    }

    .footerwhatsapp {
        font-size: 13px;
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
    }
}

.footerinstagram {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
        img {
            width: 30px;
            height: 30px;
                &:hover {
                    transition: linear 0.2s;
                    opacity: 20%;
                }
        }
        p {
            color: $colorpink;
        }
}

.footerfacebook {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
        img {
            width: 30px;
            height: 30px;
                &:hover {
                transition: linear 0.2s;
                opacity: 20%;
            }
        }
        p {
            color: $colorpink;
        }
}

.footerwhatsapp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
        img {
            width: 30px;
            height: 30px;
                &:hover {
                transition: linear 0.2s;
                opacity: 20%;
            }
        }
        p {
            color: $colorpink;
        }
}

/* PRODUCTOS.html */

.productosNiños {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-top: black solid 1px;
        .card {
            margin: 10px;
                .btn {
                    background-color: green;
                    border: none;
                        &:hover {
                            transition: linear 0.2s;
                            background-color: rgb(2, 172, 2);
                        }
                }
                p {
                    font-weight: bold;
                    font-size: 18px;
                }
        }
}

.ropaParaNiños {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 93, 93);
    font-weight: bold;
}

.productosNiñas {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-top: black solid 1px;
        .card {
            margin: 10px;
                .btn {
                    background-color: green;
                    border: none;
                        &:hover {
                            transition: linear 0.2s;
                            background-color: rgb(2, 172, 2);
                        }
                }
                p {
                    font-weight: bold;
                    font-size: 18px;
                }
        }
}

.ropaParaNiñas {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: $colorpink;
    font-weight: bold;
}

.productosBebes {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-top: black solid 1px;
        .card {
            margin: 10px;
                .btn {
                    background-color: green;
                    border: none;
                        &:hover {
                            transition: linear 0.2s;
                            background-color: rgb(2, 172, 2);
                        }
                }
                p {
                    font-weight: bold;
                    font-size: 18px;
                }
        }
}

.ropaParaBebes {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(117, 152, 250);
    font-weight: bold;
}

/* CONTACTO */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=submit] {
    background-color: $colorpink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #e71f4b;
    transition: all 0.5s linear;
  }
  
.formContainer {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    padding-top: 30px;
    font-weight: bold;
        h3 {
            text-align: center;
            padding-bottom: 30px;
            font-weight: bold;
        }
  }

  /* COMO LLEGAR */



/*IFRAME*/

.iframeContainer {
    text-align: center;
    justify-content: center;
    h1 {
        padding-bottom: 25px;
    }
}

@media (max-width: 600px) {
    iframe {
        width: 95%;
    }
}

.iframeContainer p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* MÁS */

.informacion1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    background-color: $colorpink;
    border-radius: 100%;
        .imagenInfo1 {
            img {
                width: 300px;
                height: auto;
                border-radius: 10%;
            }
        }
        .textoInfo1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 65%;
            margin-left: 20px;
                .quienesSomos {
                    font-size: 40px;
                    font-weight: bold;
                    color: black;
                    text-align: center;
                    justify-content: center;
                }
                .quienesSomosText {
                    text-align: center;
                    justify-content: center;
                    padding-top: 30px;
                    font-weight: bold;
                }
        }
}

.informacion2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    background-color: #ffddfd;
    border-radius: 100%;
        .imagenInfo2 {
            img {
                width: 300px;
                height: auto;
                border-radius: 10%;
            }
        }
        .textoInfo2 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 65%;
            margin-right: 20px;
                .comoTrabajamos {
                    font-size: 40px;
                    font-weight: bold;
                    color: black;
                    text-align: center;
                    justify-content: center;
                }
                .comoTrabajamosText {
                    text-align: center;
                    justify-content: center;
                    padding-top: 30px;
                    font-weight: bold;
                }
        }
}

.informacion3 {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    background-color: rgb(100, 235, 223);
    border-radius: 100%;
        .imagenInfo3 {
            img {
                width: 300px;
                height: auto;
                border-radius: 10%;
            }
        }
        .textoInfo3 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 65%;
            margin-left: 20px;
                .porqueElegirnos {
                    font-size: 40px;
                    font-weight: bold;
                    color: black;
                    text-align: center;
                    justify-content: center;
                }
                .porqueElegirnosText {
                    text-align: center;
                    justify-content: center;
                    padding-top: 30px;
                    font-weight: bold;
                }
        }
}

.breadCrumbs {
    display: inline;
        ul {
            list-style: none;
                li {
                    a {
                        text-decoration: none;
                        color: black;
                            &:hover {
                                color: $colorpink;
                                transition: linear 0.3s;
                            }
                    }
                }
        }
}